@charset "UTF-8";
body {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

#pageTop {
  position: fixed;
  bottom: 60px;
  right: 40px;
  background-color: #ECECEC;
  width: 70px;
  height: 70px;
  z-index: 999;
}

#pageTop i {
  font-size: 24px;
  padding: 23px 0px 0px 24px;
  font-weight: bold;
}

.imgitem333 {
  display: none;
}

.faitems {
  display: none;
}

.show-text6 {
  display: none;
}

header {
  height: 73px;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}

header .header-wrap {
  height: 73px;
  max-width: 1200px;
  margin: 0 auto;
}

header .header-wrap a {
  float: right;
  padding: 13px 40px;
  background-color: #DA6B64;
  margin-top: 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 30px;
  letter-spacing: 3px;
}

header .header-wrap a:hover {
  background-color: red;
}

header .header-contents {
  display: flex;
  height: 73px;
  width: 500px;
}

header .header-contents img {
  width: 140px;
  height: 47px;
  padding-top: 12px;
  display: inline-block;
}

header .header-contents p {
  display: inline-block;
  padding-top: 35px;
  padding-left: 2px;
}

.header-contents2 {
  display: none;
}

.top-contents {
  height: 500px;
  width: 100%;
  background-image: url(../img/photo-1557025119-9b4e129e63f8.jpeg);
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.contents-text {
  padding-top: 140px;
}

.contents-text img {
  width: 300px;
}

.contents-text .text1 {
  padding: 10px 0px;
}

.service-section {
  height: auto;
  background-color: #EBB94D;
  text-align: center;
  padding-bottom: 30px;
}

.service-container {
  width: 1190px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
}

.service-container p {
  color: #ffffff;
  font-weight: bold;
}

.service-container .text {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.service-container .text1 {
  color: #c7254e;
  background-color: #ffffff;
  width: 410px;
  margin: 0 auto;
  border-radius: 5px;
}

.service-container button {
  background-color: #DA6B64;
  color: #ffffff;
  font-size: 28px;
  padding: 30px 0px;
  width: 80%;
  border-radius: 50px;
  margin: 50px 0px 70px 0px;
}

.service-container button:hover {
  cursor: pointer;
  background-color: red;
}

.service-container .text3 {
  font-size: 21px;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.link1 {
  color: #ffffff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 3px;
}

.link2 {
  background-color: #3495E0;
}

.link3 {
  background-color: #4267B2;
}

.concept-sectin {
  height: 590px;
  width: 100%;
  background-image: url(../img/photo-1556724600-78e84788fca5.jpeg);
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.concept-container {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0px 150px 0px;
}

.concept-container .contentsex4 h1 {
  padding: 30px 0px 0px 0px;
}

.concept-container .contentsex4 h1 br {
  display: none;
}

.contents1 {
  height: 100px;
  width: 900px;
  position: relative;
}

.contents1::before, .contents1::after {
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.contents1::before {
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
  position: absolute;
  top: 0px;
  left: 0px;
}

.contents1::after {
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.concept-text span {
  background: linear-gradient(transparent 65%, blue 65%);
  font-weight: bold;
}

.concept-text p {
  font-size: 20px;
  padding-top: 30px;
}

.aboutposition {
  position: relative;
  width: 100%;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}

.iconabouto {
  position: absolute;
  top: -43px;
  left: 47%;
  background-color: #EBB94D;
}

.iconabouto p {
  font-size: 14px;
  color: #ffffff;
  line-height: 80px;
}

.servic-contents {
  height: auto;
  margin: 0 auto;
  width: 100%;
  background-color: #FEF5E1;
  padding: 0px 0px 60px 0px;
}

.servic-contents1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0px 20px 0px;
}

.servic-contents1 p {
  padding-top: 60px;
  font-size: 20px;
}

.contentsex {
  margin: 0 auto;
  height: 150px;
}

.contentsex h1 {
  padding-top: 30px;
}

.product {
  width: 85%;
  margin: 0 auto;
  height: auto;
  border: 2px solid #EBB94D;
  background-color: #ffffff;
  border-radius: 4px;
  padding-bottom: 30px;
}

.product h2 {
  text-align: center;
  padding: 30px 0px;
}

.product h2 br {
  display: none;
}

.product-contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-contents p {
  font-size: 13px;
  color: #333333;
  padding-top: 10px;
}

.product-contents .product-item {
  text-align: center;
  margin: 10px 10px;
  border: 1px solid blck;
  width: 180px;
}

.product-contents .proitem2 {
  margin-top: 0px;
}

.work-section {
  background-image: url(../img/photo-1556726307-09a5d69f2cd8.jpeg);
  background-size: cover;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.work-text {
  width: 780px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0px 30px 0px;
}

.work-text p {
  padding-top: 13px;
}

.work-text h2 {
  padding-bottom: 5px;
}

.work-text h2 br {
  display: none;
}

.work-text span {
  color: #EBB94D;
}

.work-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 360px;
  height: 185px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin: 10px 10px;
}

.work-card span {
  background-color: #EBB94D;
  padding: 2px 130px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 30px 0px;
}

.work-card p {
  font-size: 14px;
  font-weight: bold;
}

.work-card .cardtext {
  font-size: 16px;
  padding-top: 15px;
}

.work-content {
  background-color: #246EA9;
  width: 100%;
  height: 130px;
  text-align: center;
  color: #ffffff;
}

.work-content span {
  color: #EBB94D;
}

.work-content h2 {
  padding-top: 30px;
}

.related-section {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 50px 0px;
}

.related-text {
  width: 780px;
  text-align: center;
  margin: 0 auto;
}

.related-text h1 {
  padding: 30px 0px;
}

.related-text span {
  font-size: 17px;
}

.related-text p {
  font-size: 21px;
  padding: 10px 0px;
}

.related-contents {
  padding: 40px 0px 40px 0px;
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.related-contents img {
  width: 180px;
}

.related-list {
  margin: 0px 20px;
}

.related-text2 {
  text-align: center;
  margin: 0 auto;
}

.related-text2 p {
  font-size: 17px;
}

.section-service {
  width: 100%;
  height: auto;
  background-color: #FEF5E1;
  padding: 40px 0px 40px 0px;
}

.contentsex2 {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}

.contentsex2 p {
  padding-top: 20px;
  font-size: 20px;
}

.contentsex2 h2 {
  padding-top: 5px;
  font-size: 30px;
}

.service-lists {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  width: 100%;
  margin: 0 auto;
}

.service-list {
  width: 320px;
  margin: 0px 15px;
  text-align: center;
}

.service-list h2 {
  color: #EBB94D;
  padding: 10px 0px;
  font-size: 18px;
}

.service-list img {
  width: 320px;
}

.service-list p {
  padding-right: 20px;
  padding-left: 20px;
}

.productex {
  text-align: center;
}

.productex h1 {
  color: #EBB94D;
  padding: 40px 0px 20px 0px;
  font-size: 30px;
}

.productex h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.service-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.evet-section {
  background-image: url(../img/photo-1556852085-95bdf9a62fab.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
}


.evet-item2{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	
}


.evet-item {
  color: #ffffff;
  text-align: center;
  padding: 60px 0px 190px 0px;
}

.evet-item h2 {
  padding-bottom: 30px;
  font-size: 30px;
}

.evet-lists {
  width: 850px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.evet-list {
  border: 2px solid #ffffff;
  width: 400px;
  height: auto;
  position: relative;
  margin: 0px 10px;
  padding-bottom: 40px;
}

.evet-list p {
  text-align: center;
  padding: 0px 40px 0px 40px;
  color: #ffffff;
  font-size: 18px;
}

.evet-list img {
  display: inline-block;
  position: absolute;
  top: -155px;
  left: 25%;

	z-index: 99999;
}

.evet-list .text10 {
  padding: 50px 0px 10px 0px;
}

.evet-list .text11 {
  padding: 0px 0px 10px 0px;
}

.evet-list .text12 {
  text-align: left;
}

.evet-listsex {
  margin-top: 200px;
}

.question {
  background-color: #EBB94D;
  height: 250px;
  width: 100%;
  padding: 40px 0px 0px 0px;
}

.question .contentsex3 {
  height: 100px;
  width: 900px;
  position: relative;
}

.question .contentsex3::before, .question ::after {
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.question .contentsex3::before {
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.question .contentsex3::after {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.question .contentsex4 {
  margin: 0 auto;
  height: 140px;
  padding-top: 5px;
}

.question .contentsex4 h1 {
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}

.iconq {
  background-color: #ffffff;
  color: #EBB94D;
  margin: 0 auto;
}

.iconq p {
  line-height: 80px;
}

.tryA {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 30px solid #EBB94D;
  margin: 0 auto;
}

.main-section {
  height: auto;
  width: 100%;
  padding-bottom: 30px;
}

.main-txet {
  text-align: center;
  margin: 0 auto;
}

.main-txet h2 {
  font-size: 30px;
}

.main-txet p {
  padding: 20px 0px;
}

.main-txet br {
  display: none;
}

.main-items {
  display: flex;
  flex-direction: column;
}

.main-item {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.main-item img {
  border: 2px solid #EBB94D;
  width: 250px;
  height: 250px;
}

.main-item p {
  padding: 20px 0px 20px 20px;
  font-size: 18px;
}

.main-item span {
  display: inline-block;
  padding-top: 10px;
  font-style: italic;
  border-bottom: 1px solid #eee;
}

.index-section {
  width: 100%;
  height: auto;
  background-image: url(../img/photo-1556206079-747a7a424d3d.jpeg);
  background-size: cover;
  padding-bottom: 20px;
}

.index-text {
  text-align: center;
  color: #ffffff;
  padding: 60px 0px;
}

.index-text h1 {
  padding-bottom: 10px;
}

.index-block {
  width: 810px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0px;
}

.index-item {
  border: 3px solid #246EA9;
  border-radius: 5px;
  text-align: center;
}

.index-item h3 {
  background-color: #246EA9;
  color: #ffffff;
  padding: 20px 110px;
}

.index-item p {
  background-color: #ffffff;
  border-top: 1px solid #eee;
  padding: 12px 0px;
  font-weight: bold;
}

.index-item2 {
  border: 3px solid #246EA9;
  border-radius: 5px;
  text-align: center;
}

.index-item2 h3 {
  background-color: #246EA9;
  color: #ffffff;
  padding: 20px 110px;
}

.index-item2 p {
  background-color: #ffffff;
  border-top: 1px solid #eee;
  padding: 12px 0px;
  font-weight: bold;
}

.about-block {
  height: 150px;
  background-color: #246EA9;
  width: 100%;
}

.about-block h2 {
  text-align: center;
  color: #ffffff;
  padding-top: 45px;
}

.primary-section {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.primary-text {
  text-align: center;
  padding-bottom: 20px;
}

.primary-text h2 {
  padding: 40px 0px;
  font-size: 30px;
}

.primary-items {
  display: flex;
  flex-direction: column;
}

.primary-item {
  width: 1100px;
  height: auto;
  background-color: #FEF5E0;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 40px 60px;
}

.primary-item1 {
  width: 160px;
  text-align: center;
  padding-right: 40px;
}

.primary-item1 p {
  font-size: 19px;
  padding-top: 10px;
}

.primary-item2 {
  width: 900px;
}

.primary-item2 p {
  padding-bottom: 20px;
  font-size: 16px;
}

.primary-img {
  margin: 0 auto;
  width: 800px;
}

.primary-itemex {
  padding-top: 20px;
}

.primary-itemex img {
  padding-top: 20px;
}

.image-section {
  background-image: url(../img/photo-1556610626-f0ecb76ecca9.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.image-item {
  width: 1200px;
  padding-top: 80px;
  padding-left: 50px;
  margin: 0 auto;
  color: #ffffff;
  text-align: left;
}

.image-item ul {
  list-style: disc;
  padding: 20px 0px 5px 20px;
}

.image-item ul li {
  padding-bottom: 15px;
}

.image-item p {
  padding-top: 20px;
}

.show-section {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #EBB94D;
}

.show-text {
  padding-top: 60px;
  text-align: center;
}

.show-text h1 {
  padding-bottom: 40px;
}

.show-text p {
  padding-bottom: 90px;
}

.show-text5 {
  margin: 0 auto;
  text-align: center;
}

.show-text2 {
  display: inline-block;
  width: 38%;
  position: relative;
  top: 50px;
  margin: 0 auto;
  background-color: #EBB94D;
  padding-left: 0px;
  text-align: center;
}

.show-text2 h2 {
  font-size: 28px;
}

.show-text2 h2 br {
  display: block;
}

.show-text3 {
  height: 250px;
  width: 80%;
  border: 1px solid #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 80px 50px 80px;
}

.show-text4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px;
  text-align: center;
}

.show-text4 h2 {
  padding: 50px 0px 10px 0px;
  color: #EBB94D;
}

.show-text4 p {
  font-size: 16px;
  padding: 0px 10px;
}

.concept-tag {
  background-image: url(../img/photo-1556724600-78e84788fca5.jpeg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.concept-tag .contentsex3 {
  height: 100px;
  width: 900px;
  position: relative;
}

.concept-tag .contentsex3::before, .concept-tag ::after {
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.concept-tag .contentsex3::before {
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.concept-tag .contentsex3::after {
  border-bottom: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.concept-tag .contentsex5 {
  margin: 0 auto;
}

.concept-tag .contentsex5 h1 {
  color: white;
  padding-top: 25px;
}

.concept-tag .contentsex5 h1 br {
  display: none;
}

.concept-text1 h2 {
  padding: 60px 0px 30px 0px;
  font-size: 30px;
}

.concept-text1 p {
  padding-bottom: 30px;
}

.concept-text2 {
  padding-top: 30px;
}

.history-section {
  padding: 60px 0px 80px 0px;
  width: 100%;
}

.history-text {
  text-align: center;
}

.history-text h1 {
  padding-bottom: 40px;
}

.history-text p {
  font-size: 20px;
  padding-bottom: 20px;
}

.history-block {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.history-img {
  padding-right: 30px;
}

.history-img img {
  width: 200px;
}

.history-text2 {
  font-size: 15px;
}

.history-text2 ul {
  list-style: disc;
  padding-left: 20px;
  padding-bottom: 15px;
}

.history-text2 p {
  padding-bottom: 15px;
}

form {
  background-color: #EBB94D;
  padding: 70px 0px;
}

.form-text {
  text-align: center;
}

.form-text p {
  padding: 20px 0px;
}

.from-block {
  margin: 0 auto;
  width: 70%;
}

.from-block input {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 14px;
  background-color: #ffffff;
}

.from-block textarea {
  width: 99.5%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 14px;
  padding-top: 10px;
  margin: 20px 0px;
}

.from-block button {
  width: 100%;
  background-color: #DA6B64;
  padding: 15px 0px 15px 20px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 20px;
  border-radius: 40px;
  margin-top: 10px;
  border: 1px solid #DA6B64;
}

.from-block button:hover {
  cursor: pointer;
}

.faq-section {
  padding: 50px 0px;
}

.faq-text {
  text-align: center;
  padding-bottom: 30px;
}

.faq-block {
  width: 70%;
  margin: 0 auto;
}

.Q {
  border: 2px solid #eee;
  padding: 15px 20px;
  margin: 5px 0px;
}

.Q .Qicon {
  font-size: 21px;
  color: #3495E0;
}

.Q a {
  cursor: pointer;
}

.Q a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f059";
  color: #246EA9;
}

.Q a {
  font-size: 21px;
}

.Q span:hover {
  border-bottom: 1px solid black;
}

.Q i {
  display: inline-block;
  float: right;
  padding: 5px 20px 0px 0px;
  font-size: 23px;
  color: #eee;
  font-weight: bold;
}

.A {
  padding: 20px 10px 30px 10px;
  border-bottom: 1px solid #eee;
  display: none;
}

footer {
  width: 100%;
  padding: 30px 0px 20px 0px;
  background-color: #ECECEC;
  text-align: center;
}

footer p {
  font-size: 11px;
  letter-spacing: 2px;
}

footer span {
  color: #3495E0;
}

.footer-text {
  padding-bottom: 15px;
}

.footer-text2 {
  padding: 30px 0px 10px 0px;
}

/* tablet  */
@media screen and (max-width: 1190px) {
  header .header-wrap a {
    font-size: 12px;
    letter-spacing: 0px;
  }
  header .header-contents p {
    font-size: 13px;
  }
  .contents-text {
    padding-top: 140px;
  }
  .contents-text h1 {
    font-size: 25px;
  }
  .contents-text h2 {
    font-size: 19px;
  }
  .contents-text img {
    width: 300px;
  }
  .contents-text .text1 {
    padding: 10px 0px;
  }
  .top-contents {
    padding-top: 0px;
  }
  .service-section {
    height: auto;
    padding-bottom: 20px;
  }
  .service-container {
    width: 100%;
  }
  .service-container .text, .service-container .text1, .service-container .text3 {
    font-size: 16px;
  }
  .service-container button {
    font-size: 18px;
    margin: 10px 0px 10px 0px;
  }
  .concept-container {
    width: 85%;
    margin: 0 auto;
    padding: 50px 0px 150px 0px;
  }
  .concept-container .contentsex4 h1 {
    font-size: 24px;
    padding: 20px 0px 0px 0px;
  }
  .contents1 {
    height: 80px;
    width: 100%;
    position: relative;
  }
  .concept-text p {
    font-size: 18px;
    padding-top: 30px;
  }
  .contentsex {
    margin: 0 auto;
    height: 120px;
    width: 90%;
  }
  .contentsex h1 {
    padding-top: 20px;
    font-size: 25px;
  }
  .servic-contents1 {
    padding: 100px 0px 20px 0px;
  }
  .servic-contents1 p {
    padding-top: 60px;
    font-size: 16px;
  }
  .work-section {
    width: 100%;
  }
  .work-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .work-card {
    width: 45%;
    height: auto;
    padding: 0px 0px 30px 0px;
  }
  .work-card span {
    width: 10%;
  }
  .work-content {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .work-content h2 {
    font-size: 18px;
    padding-top: 30px;
  }
  .related-text h1 {
    font-size: 25px;
  }
  .related-text span {
    font-size: 15px;
  }
  .related-text p {
    font-size: 17px;
  }
  .related-contents {
    width: 70%;
  }
  .related-contents img {
    width: 80%;
  }
  .related-list {
    text-align: center;
    margin: 0px 0px;
  }
  .related-text2 {
    text-align: center;
  }
  .related-text2 p {
    font-size: 15px;
  }
  .contentsex2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
  }
  .contentsex2 p {
    padding-top: 0px;
    font-size: 17px;
  }
  .contentsex2 h2 {
    padding-top: 5px;
    font-size: 25px;
  }
  .service-lists {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    width: 80%;
    margin: 0 auto;
  }
  .service-list {
    width: 250px;
    margin: 10px 25px 30px 25px;
    text-align: center;
  }
  .service-list h2 {
    font-size: 16px;
  }
  .service-list img {
    width: 250px;
  }
  .service-list p {
    font-size: 15px;
  }
  .productex {
    text-align: center;
    width: 85%;
  }
  .productex h1 {
    font-size: 25px;
  }
  .productex h3 {
    font-size: 16px;
  }
  .service-text {
    width: 85%;
    margin: 0 auto;
    font-size: 13px;
  }
  .evet-item h2 {
    padding-bottom: 30px;
    font-size: 25px;
  }
  .evet-list p {
    font-size: 15px;
  }
  .main-item img {
    border: 2px solid #EBB94D;
    width: 20vw;
    height: 20vw;
  }
  .main-item p {
    padding: 0px 0px 20px 20px;
  }
  .main-txet {
    text-align: center;
    margin: 0 auto;
  }
  .main-txet h2 {
    font-size: 25px;
  }
  .main-txet p {
    font-size: 13px;
    padding: 15px 0px;
  }
  .main-txet br {
    display: block;
  }
  .question .contentsex3 {
    height: 100px;
    width: 90%;
    position: relative;
  }
  .question .contentsex3::before, .question ::after {
    content: "";
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  .question .contentsex3::before {
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .question .contentsex3::after {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .question .contentsex4 {
    margin: 0 auto;
    height: 140px;
    padding-top: 5px;
  }
  .question .contentsex4 h1 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
  }
  .primary-section {
    width: 100%;
  }
  .primary-text h2 {
    font-size: 25px;
  }
  .primary-text img {
    width: 90%;
  }
  .primary-items {
    display: flex;
    flex-direction: column;
  }
  .primary-item {
    width: 80%;
    height: auto;
    background-color: #FEF5E0;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 40px 60px;
  }
  .primary-item1 {
    text-align: center;
    padding-right: 20px;
  }
  .primary-item1 p {
    font-size: 19px;
    padding-top: 10px;
  }
  .primary-item2 {
    width: 80%;
    padding-right: 25px;
  }
  .primary-item2 p {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .primary-img {
    margin: 0 auto;
    width: 55%;
  }
}

@media screen and (max-width: 990px) {
  .service-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    width: 80%;
    margin: 0 auto;
  }
  .service-list {
    width: 70%;
    margin: 10px 25px 30px 25px;
  }
  .service-list h2 {
    font-size: 16px;
    text-align: center;
  }
  .service-list img {
    text-align: center;
    width: 280px;
  }
  .service-list p {
    font-size: 15px;
    text-align: left;
    padding: 0px 0px 0px 0px;
  }
  .evet-item {
    padding: 60px 0px 30px 0px;
  }
  .evet-lists {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .evet-list {
    border: 2px solid #ffffff;
    width: 100%;
    height: auto;
    position: relative;
    margin: 170px 0px 0px 0px;
  }
  .evet-list p {
    text-align: center;
    padding: 0px 40px 0px 40px;
    color: #ffffff;
    font-size: 15px;
  }
  .evet-list img {
    display: inline-block;
    position: absolute;
    top: -155px;
    left: 35%;
    border-radius: 50%;
  }
  .evet-list .text10 {
    padding: 50px 0px 10px 0px;
  }
  .evet-list .text11 {
    padding: 0px 0px 10px 0px;
  }
  .evet-list .text12 {
    text-align: left;
  }
  .evet-listsex {
    margin-top: 20px;
  }
  .main-item img {
    border: 2px solid #EBB94D;
    width: 25vw;
    height: 25vw;
  }
  .index-text {
    text-align: center;
    color: #ffffff;
    padding: 60px 0px;
  }
  .index-text h1 {
    padding-bottom: 10px;
    font-size: 25px;
  }
  .index-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0px 0px;
  }
  .index-item {
    border: 3px solid #246EA9;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0px 0px;
    margin-bottom: 10px;
  }
  .index-item h3 {
    background-color: #246EA9;
    color: #ffffff;
  }
  .index-item p {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 12px 0px;
    font-weight: bold;
  }
  .index-item2 {
    border: 3px solid #246EA9;
    border-radius: 5px;
    text-align: center;
    width: 80%;
  }
  .index-item2 h3 {
    background-color: #246EA9;
    color: #ffffff;
  }
  .index-item2 p {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 12px 0px;
    font-weight: bold;
  }
  .about-text h2 {
    font-size: 19px;
  }
  .image-item h2 {
    font-size: 20px;
  }
  .image-item ul {
    font-size: 15px;
  }
  .image-item ul li {
    padding-bottom: 15px;
  }
  .image-item p {
    font-size: 15px;
  }
  .show-section {
    width: 100%;
    height: auto;
    background-color: #EBB94D;
  }
  .show-text {
    padding-top: 60px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
  }
  .show-text h1 {
    font-size: 25px;
    padding-bottom: 40px;
  }
  .show-text p {
    font-size: 15px;
    padding-bottom: 0px;
  }
  .show-text3 {
    margin-top: 90px;
    height: auto;
    width: 90%;
    border: 1px solid #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 20px 0px;
  }
  .show-text5 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .show-text2 {
    width: 400px;
    background-color: #EBB94D;
    padding-left: 0px;
    position: relative;
    top: 40px;
  }
  .show-text2 h2 {
    font-size: 25px;
    background-color: #EBB94D;
    letter-spacing: 2px;
  }
  .show-text4 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 10px 0px;
    text-align: center;
  }
  .show-text4 h2 {
    padding: 50px 0px 10px 0px;
    color: #EBB94D;
  }
  .show-text4 p {
    font-size: 16px;
    padding: 0px 10px;
  }
  .concept-tag .contentsex3 {
    height: 100px;
    width: 90%;
    position: relative;
  }
  .concept-tag .contentsex3::before, .concept-tag ::after {
    content: "";
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }
  .concept-tag .contentsex3::before {
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .concept-tag .contentsex3::after {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .concept-tag .contentsex5 {
    margin: 0 auto;
  }
  .concept-tag .contentsex5 h1 {
    color: white;
    padding-top: 25px;
    font-size: 25px;
  }
  .concept-text1 h2 {
    padding: 60px 0px 30px 0px;
    font-size: 25px;
  }
  .concept-text1 p {
    padding-bottom: 30px;
  }
  .concept-text2 {
    padding-top: 30px;
  }
  .history-section {
    padding: 60px 0px 40px 0px;
    width: 100%;
  }
  .history-text {
    text-align: center;
  }
  .history-text h1 {
    padding-bottom: 40px;
    font-size: 25px;
  }
  .history-text p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .history-block {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .history-img {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .history-img img {
    width: 100%;
  }
  .history-text2 {
    font-size: 15px;
    width: 95%;
  }
  .history-text2 ul {
    list-style: disc;
    padding-left: 20px;
    padding-bottom: 15px;
  }
  .history-text2 p {
    padding-bottom: 15px;
  }
  .form-text {
    text-align: center;
  }
  .form-text h1 {
    font-size: 25px;
  }
  .form-text p {
    font-size: 15px;
    padding: 20px 0px;
  }
  .faq-text {
    font-size: 12px;
  }
  .faq-block {
    width: 90%;
    margin: 0 auto;
  }
  .Q {
    border: 2px solid #eee;
    padding: 15px 20px;
    margin: 5px 0px;
  }
  .Q .Qicon {
    font-size: 21px;
    color: #3495E0;
  }
  .Q a {
    font-size: 16px;
  }
  .Q i {
    display: inline-block;
    float: right;
    padding: 5px 20px 0px 0px;
    font-size: 17px;
    color: #eee;
    font-weight: bold;
  }
  .A p {
    font-size: 15px;
  }
}

/* smartPhone */
@media screen and (max-width: 770px) {
  /*ここにスマホ用スタイルを記述*/
  #pageTop {
    position: fixed;
    bottom: 25px;
    right: 30px;
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    z-index: 999;
  }
  #pageTop i {
    font-size: 16px;
    padding: 12px 0px 0px 13px;
    font-weight: bold;
  }
  header {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
  }
  header .header-wrap {
    height: 55px;
    margin: 0 auto;
  }
  header .header-wrap a {
    display: none;
  }
  header .header-contents {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 200px;
    height: auto;
    padding-left: 8px;
  }
  header .header-contents img {
    width: 100px;
    height: 30px;
    padding-top: 0px;
    display: inline-block;
  }
  header .header-contents p {
    display: inline-block;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 3px;
    font-size: 10px;
  }
  .header-contents2 {
    display: inline-block;
    float: right;
    background-color: #DA6B64;
    height: 50px;
    text-align: center;
    padding: 10px 10px 0px 10px;
  }
  .header-contents2 img {
    width: 20px;
  }
  .header-contents2 p {
    color: #ffffff;
    font-size: 12px;
    margin-top: -7px;
  }
  .header-contents2:hover {
    cursor: pointer;
  }
  .top-contents {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 90px 0px 40px 0px;
  }
  .contents-text {
    padding-top: 0px;
  }
  .contents-text img {
    width: 300px;
  }
  .contents-text .text1 {
    padding: 0px 0px;
  }
  .contents-text h1 {
    font-size: 18px;
  }
  .contents-text h2 {
    font-size: 17px;
  }
  .service-section {
    width: 100%;
    height: auto;
    background-color: #EBB94D;
    text-align: center;
    padding-bottom: 20px;
  }
  .service-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
  }
  .service-container p {
    color: #ffffff;
    font-weight: bold;
  }
  .service-container .text {
    font-size: 15px;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  .service-container .text1 {
    color: #c7254e;
    background-color: #ffffff;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 13px;
  }
  .service-container button {
    background-color: #DA6B64;
    color: #ffffff;
    font-size: 20px;
    padding: 30px 0px;
    width: 100%;
    border-radius: 50px;
    margin: 20px 0px 20px 0px;
  }
  .service-container button:hover {
    cursor: pointer;
    background-color: red;
  }
  .service-container .text3 {
    font-size: 15px;
    letter-spacing: 3px;
    padding-bottom: 30px;
  }
  .concept-sectin {
    height: auto;
    width: 100%;
  }
  .concept-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px 80px 0px;
  }
  .concept-container .contentsex4 h1 {
    font-size: 18px;
    padding: 20px 0px 20px 0px;
    line-height: 30px;
  }
  .concept-container .contentsex4 h1 br {
    display: block;
  }
  .contents1 {
    height: auto;
    width: 100%;
    position: relative;
  }
  .contents1::before, .contents1::after {
    content: "";
    width: 25px;
    height: 25px;
    box-sizing: border-box;
  }
  .concept-text {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .concept-text p {
    font-size: 16px;
    padding-top: 30px;
  }
  .aboutposition {
    position: relative;
    width: 100%;
  }
  .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }
  .iconabouto {
    position: absolute;
    top: -30px;
    left: 44%;
    background-color: #EBB94D;
  }
  .iconabouto p {
    font-size: 12px;
    color: #ffffff;
    line-height: 60px;
  }
  .servic-contents1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0px 20px 0px;
  }
  .servic-contents1 h1 {
    font-size: 19px;
  }
  .servic-contents1 h1 br {
    line-height: 40px;
  }
  .servic-contents1 p {
    padding-top: 60px;
    font-size: 16px;
  }
  .contentsex {
    margin: 0 auto;
    height: autos;
  }
  .contentsex h1 {
    padding: 25px 0px;
  }
  .product {
    width: 90%;
    margin: 0 auto;
    height: auto;
    border: 2px solid #EBB94D;
    background-color: #ffffff;
    border-radius: 4px;
    padding-bottom: 30px;
  }
  .product h2 {
    text-align: center;
    padding: 30px 0px;
    font-size: 16px;
  }
  .product h2 br {
    display: block;
  }
  .product-contents p {
    font-size: 13px;
    color: #333333;
    padding-top: 10px;
  }
  .product-contents .product-item {
    text-align: center;
    margin: 10px 10px;
    width: 120px;
  }
  .product-contents .product-item img {
    height: 30px;
  }
  .product-contents .product-item p {
    font-size: 10px;
  }
  .work-text {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0px 30px 0px;
  }
  .work-text p {
    font-size: 14px;
    padding-top: 13px;
  }
  .work-text h2 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .work-text h2 br {
    display: block;
  }
  .work-text span {
    color: #EBB94D;
  }
  .work-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .work-card {
    width: 90%;
    height: auto;
    margin: 10px 10px;
  }
  .work-card span {
    padding: 2px 0px;
    width: 80%;
  }
  .work-card p {
    font-size: 14px;
    font-weight: bold;
  }
  .work-card .cardtext {
    font-size: 16px;
    padding-top: 5px;
  }
  .work-content {
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
  }
  .work-content span {
    color: #EBB94D;
  }
  .work-content h2 {
    padding-top: 30px;
    font-size: 13px;
    max-width: 400px;
    margin: 0 auto;
  }
  .related-section {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 25px 0px;
  }
  .related-text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .related-text h1 {
    font-size: 20px;
    padding: 30px 0px;
  }
  .related-text span {
    font-size: 14px;
  }
  .related-text p {
    font-size: 15px;
    padding: 10px 0px;
  }
  .related-contents {
    padding: 20px 0px 20px 0px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .related-contents img {
    width: 90%;
  }
  .related-list {
    margin: 0px 10px;
  }
  .related-text2 p {
    font-size: 13px;
  }
  .contentsex2 {
    height: auto;
    width: 90%;
    padding: 20px 0px;
  }
  .contentsex2 p {
    padding-top: 0px;
    font-size: 15px;
  }
  .contentsex2 h2 {
    padding-top: 5px;
    font-size: 20px;
  }
  .service-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 30px 0px;
    width: 80%;
    margin: 0 auto;
  }
  .service-list {
    width: 100%;
    margin: 10px 25px 30px 25px;
  }
  .service-list h2 {
    font-size: 16px;
    text-align: center;
  }
  .service-list img {
    text-align: center;
    width: 280px;
  }
  .service-list p {
    font-size: 13px;
    text-align: left;
    padding: 0px 0px 0px 0px;
  }
  .productex {
    text-align: center;
  }
  .productex h1 {
    color: #EBB94D;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
  }
  .productex h3 {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .productex p {
    font-size: 11px;
    width: 90%;
    margin: 0 auto;
  }
  .evet-item {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0px 0px 0px;
  }
  .evet-item h2 {
    font-size: 19px;
  }
  .evet-item p {
    font-size: 14px;
  }
  .evet-lists {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .evet-list {
    border: 2px solid #ffffff;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
  }
  .evet-list p {
    text-align: center;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    font-size: 13px;
  }
  .evet-list .evet-item2 {
    display: none;
  }
  .evet-list .evet-item3 {
    display: none;
  }
  .evet-list .text10 {
    padding: 50px 0px 10px 0px;
  }
  .evet-list .text11 {
    padding: 0px 0px 10px 0px;
  }
  .evet-list .text12 {
    text-align: left;
  }
  .evet-listsex {
    margin-top: 20px;
  }
  .imgitem333 {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    z-index: 500;
  }
  .imgitem333 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: 50px;
  }
  .evet-listsex {
    margin-top: 20px;
  }
  .primary-section {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .primary-text {
    text-align: center;
    padding-bottom: 20px;
  }
  .primary-text h2 {
    padding: 40px 0px;
    font-size: 19px;
  }
  .primary-text img {
    display: none;
  }
  .primary-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .primary-item {
    width: 90%;
    height: auto;
    background-color: #FEF5E0;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
  }
  .primary-item .faitems {
    display: block;
  }
  .primary-item i {
    display: inline;
    position: absolute;
    right: 3%;
    top: 18px;
  }
  .primary-item1 {
    width: 100%;
    text-align: center;
    padding-right: 0px;
    display: flex;
  }
  .primary-item1 img {
    width: 35px;
    height: 35px;
    padding-left: 5px;
  }
  .primary-item1 p {
    font-size: 15px;
    padding: 5px 0px 0px 0px;
    font-weight: bold;
    margin-left: 10px;
  }
  .primary-item1 p br {
    display: none;
  }
  .priitem:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
  }
  .primary-item2 {
    width: 90%;
    display: none;
  }
  .primary-item2 p {
    padding: 10px 0px 10px 5px;
    font-size: 13px;
  }
  .primary-itemex {
    padding-top: 0px;
  }
  .primary-itemex img {
    padding-top: 0px;
  }
  .primary-img {
    display: none;
  }
  .question {
    height: auto;
    width: 100%;
    padding: 40px 0px 40px 0px;
  }
  .question .contentsex3 {
    height: auto;
    width: 90%;
    position: relative;
  }
  .question .contentsex3::before, .question ::after {
    content: "";
    width: 30px;
    height: 30px;
    box-sizing: border-box;
  }
  .question .contentsex4 {
    margin: 0 auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .question .contentsex4 h1 {
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-size: 15px;
  }
  .question .contentsex4 h1 br {
    line-height: 40px;
  }
  .iconq {
    background-color: #ffffff;
    color: #EBB94D;
    margin: 0 auto;
  }
  .iconq p {
    line-height: 65px;
    font-size: 14px;
  }
  .tryA {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #EBB94D;
    margin: 0 auto;
  }
  .main-section {
    height: auto;
    width: 100%;
    padding-bottom: 30px;
  }
  .main-txet {
    text-align: center;
    margin: 0 auto;
  }
  .main-txet h2 {
    font-size: 20px;
  }
  .main-txet p {
    padding: 10px 0px;
  }
  .main-txet br {
    display: block;
  }
  .main-item {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .main-item img {
    border: 2px solid #EBB94D;
    width: 35%;
    height: 35%;
  }
  .main-item p {
    padding: 0px 0px 20px 20px;
    font-size: 14px;
  }
  .index-text {
    text-align: center;
    color: #ffffff;
    padding: 60px 0px;
  }
  .index-text h1 {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .index-text p {
    font-size: 14px;
  }
  .index-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0px 0px;
  }
  .index-item {
    border: 3px solid #246EA9;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px;
    margin-bottom: 10px;
  }
  .index-item h3 {
    background-color: #246EA9;
    color: #ffffff;
    font-size: 15px;
  }
  .index-item p {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 12px 0px;
    font-weight: bold;
    font-size: 13px;
  }
  .index-item2 {
    border: 3px solid #246EA9;
    border-radius: 5px;
    text-align: center;
    width: 90%;
  }
  .index-item2 h3 {
    background-color: #246EA9;
    color: #ffffff;
    font-size: 15px;
  }
  .index-item2 p {
    background-color: #ffffff;
    border-top: 1px solid #eee;
    padding: 12px 0px;
    font-weight: bold;
    font-size: 13px;
  }
  .about-text h2 {
    width: 95%;
    font-size: 15px;
    margin: 0 auto;
  }
  .image-section {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
  .image-item {
    width: 85%;
    padding-top: 80px;
    padding-left: 0px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
  }
  .image-item ul {
    text-align: left;
    list-style: disc;
    font-size: 12px;
    padding: 20px 0px 5px 20px;
  }
  .image-item ul li {
    padding-bottom: 15px;
  }
  .image-item p {
    padding-top: 20px;
    font-size: 14px;
  }
  .image-item h2 {
    font-size: 16px;
    text-align: left;
  }
  .image-item h1 {
    font-size: 20px;
  }
  .show-section {
    width: 100%;
    height: auto;
    background-color: #EBB94D;
  }
  .show-text {
    padding-top: 30px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .show-text h1 {
    font-size: 18px;
    padding-bottom: 40px;
  }
  .show-text p {
    font-size: 12px;
    padding: 0px 10px;
  }
  .show-text3 {
    margin-top: 90px;
    height: auto;
    width: 90%;
    border: 1px solid #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 20px 0px;
  }
  .show-text5 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .show-text2 {
    width: 250px;
    background-color: #EBB94D;
    padding-left: 0px;
    position: relative;
    top: 40px;
  }
  .show-text2 h2 {
    font-size: 18px;
    background-color: #EBB94D;
    letter-spacing: 2px;
  }
  .show-text2 h2 br {
    display: block;
  }
  .show-text7 {
    display: flex;
    width: 80%;
  }
  .show-text4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 10px 0px;
    text-align: center;
  }
  .show-text4 h2 {
    padding: 20px 0px 0px 0px;
    color: #EBB94D;
    font-size: 12px;
  }
  .show-text4 p {
    font-size: 16px;
    padding: 0px 10px;
    display: none;
  }
  .show-text6 {
    display: block;
    font-size: 12px;
    width: 78%;
    margin-left: 10px;
    padding-top: 20px;
  }
  .concept-tag .contentsex3 {
    height: auto;
    width: 90%;
    position: relative;
  }
  .concept-tag .contentsex3::before, .concept-tag ::after {
    content: "";
    width: 30px;
    height: 30px;
    box-sizing: border-box;
  }
  .concept-tag .contentsex3::before {
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .concept-tag .contentsex3::after {
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .concept-tag .contentsex5 {
    margin: 0 auto;
  }
  .concept-tag .contentsex5 h1 {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
  }
  .concept-tag .contentsex5 h1 br {
    display: block;
  }
  .concept-text1 {
    width: 90%;
    margin: 0 auto;
  }
  .concept-text1 h2 {
    padding: 60px 0px 30px 0px;
    font-size: 20px;
  }
  .concept-text1 p {
    padding-bottom: 30px;
    font-size: 13px;
  }
  .concept-text2 {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 13px;
  }
  .history-section {
    padding: 60px 0px 40px 0px;
    width: 100%;
  }
  .history-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .history-text h1 {
    padding-bottom: 40px;
    font-size: 18px;
  }
  .history-text p {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .history-block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    background-color: #EBB94D;
    padding: 70px 0px;
  }
  .form-text {
    text-align: center;
  }
  .form-text h1 {
    font-size: 19px;
  }
  .form-text p {
    font-size: 14px;
    padding: 20px 0px;
  }
  .from-block {
    margin: 0 auto;
    width: 95%;
  }
  .faq-text {
    font-size: 10px;
  }
  .faq-block {
    width: 95%;
    margin: 0 auto;
  }
  .Q {
    border: 2px solid #eee;
    padding: 5px 5px;
    margin: 5px 0px;
    position: relative;
  }
  .Q .Qicon {
    font-size: 21px;
    color: #3495E0;
  }
  .Q a {
    font-size: 15px;
    width: 90%;
    display: inline-block;
  }
  .Q i {
    display: block;
    float: right;
    padding: 5px 8px 0px 0px;
    font-size: 17px;
    color: #eee;
    font-weight: bold;
  }
  .A p {
    font-size: 13px;
  }
}
